<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	galleryWidth="480 px"
	galleryHeight="300"
	useThumbDots="true"
	useFullscreenExpand="false"
	showOpenButton="false"
	showExpandButton="false"
	showThumbsButton="false"

>
  <image imageURL="images/e928k220i3528.jpg"
	thumbURL="thumbs/e928k220i3528.jpg"
	linkURL="images/e928k220i3528.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\3d\Desktop\fottis\e928k220i3528.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/e928k257k0916.jpg"
	thumbURL="thumbs/e928k257k0916.jpg"
	linkURL="images/e928k257k0916.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\3d\Desktop\fottis\e928k257k0916.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/e928k399i3541.jpg"
	thumbURL="thumbs/e928k399i3541.jpg"
	linkURL="images/e928k399i3541.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\3d\Desktop\fottis\e928k399i3541.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/e928k264k0917.jpg"
	thumbURL="thumbs/e928k264k0917.jpg"
	linkURL="images/e928k264k0917.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\3d\Desktop\fottis\e928k264k0917.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/e928k371i3535.jpg"
	thumbURL="thumbs/e928k371i3535.jpg"
	linkURL="images/e928k371i3535.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\3d\Desktop\fottis\e928k371i3535.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/e928k375i3538.jpg"
	thumbURL="thumbs/e928k375i3538.jpg"
	linkURL="images/e928k375i3538.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\3d\Desktop\fottis\e928k375i3538.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/e928k399i3540.jpg"
	thumbURL="thumbs/e928k399i3540.jpg"
	linkURL="images/e928k399i3540.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\3d\Desktop\fottis\e928k399i3540.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/e928k215i3527.jpg"
	thumbURL="thumbs/e928k215i3527.jpg"
	linkURL="images/e928k215i3527.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\3d\Desktop\fottis\e928k215i3527.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/e928k407i3542.jpg"
	thumbURL="thumbs/e928k407i3542.jpg"
	linkURL="images/e928k407i3542.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\3d\Desktop\fottis\e928k407i3542.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/e928k269k0919.jpg"
	thumbURL="thumbs/e928k269k0919.jpg"
	linkURL="images/e928k269k0919.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\3d\Desktop\fottis\e928k269k0919.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/e928k412i3544.jpg"
	thumbURL="thumbs/e928k412i3544.jpg"
	linkURL="images/e928k412i3544.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\3d\Desktop\fottis\e928k412i3544.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/e928k425i3547.jpg"
	thumbURL="thumbs/e928k425i3547.jpg"
	linkURL="images/e928k425i3547.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\3d\Desktop\fottis\e928k425i3547.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/e928k426i3548.jpg"
	thumbURL="thumbs/e928k426i3548.jpg"
	linkURL="images/e928k426i3548.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\3d\Desktop\fottis\e928k426i3548.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/e928k474i3551.jpg"
	thumbURL="thumbs/e928k474i3551.jpg"
	linkURL="images/e928k474i3551.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\3d\Desktop\fottis\e928k474i3551.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/e928k511k0932.jpg"
	thumbURL="thumbs/e928k511k0932.jpg"
	linkURL="images/e928k511k0932.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\3d\Desktop\fottis\e928k511k0932.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/e928k412i3545.jpg"
	thumbURL="thumbs/e928k412i3545.jpg"
	linkURL="images/e928k412i3545.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\3d\Desktop\fottis\e928k412i3545.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/e928k573k0938.jpg"
	thumbURL="thumbs/e928k573k0938.jpg"
	linkURL="images/e928k573k0938.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\3d\Desktop\fottis\e928k573k0938.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/e928l122i3599.jpg"
	thumbURL="thumbs/e928l122i3599.jpg"
	linkURL="images/e928l122i3599.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\3d\Desktop\fottis\e928l122i3599.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/e928k613i3567.jpg"
	thumbURL="thumbs/e928k613i3567.jpg"
	linkURL="images/e928k613i3567.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\3d\Desktop\fottis\e928k613i3567.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/e928k575k0939.jpg"
	thumbURL="thumbs/e928k575k0939.jpg"
	linkURL="images/e928k575k0939.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\3d\Desktop\fottis\e928k575k0939.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/e928k599i3561.jpg"
	thumbURL="thumbs/e928k599i3561.jpg"
	linkURL="images/e928k599i3561.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\3d\Desktop\fottis\e928k599i3561.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/e928l116i3597.jpg"
	thumbURL="thumbs/e928l116i3597.jpg"
	linkURL="images/e928l116i3597.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\3d\Desktop\fottis\e928l116i3597.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/e928k615i3569.jpg"
	thumbURL="thumbs/e928k615i3569.jpg"
	linkURL="images/e928k615i3569.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\3d\Desktop\fottis\e928k615i3569.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/e928k684k0949.jpg"
	thumbURL="thumbs/e928k684k0949.jpg"
	linkURL="images/e928k684k0949.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\3d\Desktop\fottis\e928k684k0949.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/e928k760k0957.jpg"
	thumbURL="thumbs/e928k760k0957.jpg"
	linkURL="images/e928k760k0957.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\3d\Desktop\fottis\e928k760k0957.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/e928k782k0966.jpg"
	thumbURL="thumbs/e928k782k0966.jpg"
	linkURL="images/e928k782k0966.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\3d\Desktop\fottis\e928k782k0966.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/e928k836k0975.jpg"
	thumbURL="thumbs/e928k836k0975.jpg"
	linkURL="images/e928k836k0975.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\3d\Desktop\fottis\e928k836k0975.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/e928l063i3592.jpg"
	thumbURL="thumbs/e928l063i3592.jpg"
	linkURL="images/e928l063i3592.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\3d\Desktop\fottis\e928l063i3592.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/e928l075k0977.jpg"
	thumbURL="thumbs/e928l075k0977.jpg"
	linkURL="images/e928l075k0977.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\3d\Desktop\fottis\e928l075k0977.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/e928k634i3573.jpg"
	thumbURL="thumbs/e928k634i3573.jpg"
	linkURL="images/e928k634i3573.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\3d\Desktop\fottis\e928k634i3573.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/e928l077k0978.jpg"
	thumbURL="thumbs/e928l077k0978.jpg"
	linkURL="images/e928l077k0978.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\3d\Desktop\fottis\e928l077k0978.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/e928l084k0980.jpg"
	thumbURL="thumbs/e928l084k0980.jpg"
	linkURL="images/e928l084k0980.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\3d\Desktop\fottis\e928l084k0980.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/e928l341i3623.jpg"
	thumbURL="thumbs/e928l341i3623.jpg"
	linkURL="images/e928l341i3623.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\3d\Desktop\fottis\e928l341i3623.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/e928l116i3598.jpg"
	thumbURL="thumbs/e928l116i3598.jpg"
	linkURL="images/e928l116i3598.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\3d\Desktop\fottis\e928l116i3598.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/e928l212k0996.jpg"
	thumbURL="thumbs/e928l212k0996.jpg"
	linkURL="images/e928l212k0996.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\3d\Desktop\fottis\e928l212k0996.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/e928l133i3602.jpg"
	thumbURL="thumbs/e928l133i3602.jpg"
	linkURL="images/e928l133i3602.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\3d\Desktop\fottis\e928l133i3602.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/e928l151i3603.jpg"
	thumbURL="thumbs/e928l151i3603.jpg"
	linkURL="images/e928l151i3603.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\3d\Desktop\fottis\e928l151i3603.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/e928l156i3607.jpg"
	thumbURL="thumbs/e928l156i3607.jpg"
	linkURL="images/e928l156i3607.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\3d\Desktop\fottis\e928l156i3607.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/e928l569i3713.jpg"
	thumbURL="thumbs/e928l569i3713.jpg"
	linkURL="images/e928l569i3713.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\3d\Desktop\fottis\e928l569i3713.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/e928l128i3601.jpg"
	thumbURL="thumbs/e928l128i3601.jpg"
	linkURL="images/e928l128i3601.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\3d\Desktop\fottis\e928l128i3601.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/e928l581k1085.jpg"
	thumbURL="thumbs/e928l581k1085.jpg"
	linkURL="images/e928l581k1085.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\3d\Desktop\fottis\e928l581k1085.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>