<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	thumbFrameColor="rgba(255,255,255,0.2)"
	showOpenButton="false"
	showExpandButton="false"
	showThumbsButton="false"
	useFullscreenExpand="false"

>
  <image imageURL="images/IMG_6260.jpg"
	thumbURL="thumbs/IMG_6260.jpg"
	linkURL="images/IMG_6260.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\ORM\Pictures\stagedays\web\IMG_6260.JPG">
    <title><![CDATA[IMG_6260]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_6313.jpg"
	thumbURL="thumbs/IMG_6313.jpg"
	linkURL="images/IMG_6313.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\ORM\Pictures\stagedays\web\IMG_6313.JPG">
    <title><![CDATA[IMG_6313]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_6213.jpg"
	thumbURL="thumbs/IMG_6213.jpg"
	linkURL="images/IMG_6213.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\ORM\Pictures\stagedays\web\IMG_6213.JPG">
    <title><![CDATA[IMG_6213]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_6092.jpg"
	thumbURL="thumbs/IMG_6092.jpg"
	linkURL="images/IMG_6092.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\ORM\Pictures\stagedays\web\IMG_6092.JPG">
    <title><![CDATA[IMG_6092]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_6119.jpg"
	thumbURL="thumbs/IMG_6119.jpg"
	linkURL="images/IMG_6119.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\ORM\Pictures\stagedays\web\IMG_6119.JPG">
    <title><![CDATA[IMG_6119]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_6143.jpg"
	thumbURL="thumbs/IMG_6143.jpg"
	linkURL="images/IMG_6143.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\ORM\Pictures\stagedays\web\IMG_6143.JPG">
    <title><![CDATA[IMG_6143]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_6131.jpg"
	thumbURL="thumbs/IMG_6131.jpg"
	linkURL="images/IMG_6131.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\ORM\Pictures\stagedays\web\IMG_6131.JPG">
    <title><![CDATA[IMG_6131]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_6139.jpg"
	thumbURL="thumbs/IMG_6139.jpg"
	linkURL="images/IMG_6139.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\ORM\Pictures\stagedays\web\IMG_6139.JPG">
    <title><![CDATA[IMG_6139]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_6141.jpg"
	thumbURL="thumbs/IMG_6141.jpg"
	linkURL="images/IMG_6141.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\ORM\Pictures\stagedays\web\IMG_6141.JPG">
    <title><![CDATA[IMG_6141]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_6151.jpg"
	thumbURL="thumbs/IMG_6151.jpg"
	linkURL="images/IMG_6151.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\ORM\Pictures\stagedays\web\IMG_6151.JPG">
    <title><![CDATA[IMG_6151]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_6160.jpg"
	thumbURL="thumbs/IMG_6160.jpg"
	linkURL="images/IMG_6160.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\ORM\Pictures\stagedays\web\IMG_6160.JPG">
    <title><![CDATA[IMG_6160]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_6165.jpg"
	thumbURL="thumbs/IMG_6165.jpg"
	linkURL="images/IMG_6165.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\ORM\Pictures\stagedays\web\IMG_6165.JPG">
    <title><![CDATA[IMG_6165]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_6167.jpg"
	thumbURL="thumbs/IMG_6167.jpg"
	linkURL="images/IMG_6167.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\ORM\Pictures\stagedays\web\IMG_6167.JPG">
    <title><![CDATA[IMG_6167]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_6168.jpg"
	thumbURL="thumbs/IMG_6168.jpg"
	linkURL="images/IMG_6168.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\ORM\Pictures\stagedays\web\IMG_6168.JPG">
    <title><![CDATA[IMG_6168]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_6173.jpg"
	thumbURL="thumbs/IMG_6173.jpg"
	linkURL="images/IMG_6173.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\ORM\Pictures\stagedays\web\IMG_6173.JPG">
    <title><![CDATA[IMG_6173]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_6175.jpg"
	thumbURL="thumbs/IMG_6175.jpg"
	linkURL="images/IMG_6175.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\ORM\Pictures\stagedays\web\IMG_6175.JPG">
    <title><![CDATA[IMG_6175]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_6181.jpg"
	thumbURL="thumbs/IMG_6181.jpg"
	linkURL="images/IMG_6181.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\ORM\Pictures\stagedays\web\IMG_6181.JPG">
    <title><![CDATA[IMG_6181]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_6188.jpg"
	thumbURL="thumbs/IMG_6188.jpg"
	linkURL="images/IMG_6188.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\ORM\Pictures\stagedays\web\IMG_6188.JPG">
    <title><![CDATA[IMG_6188]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_6189.jpg"
	thumbURL="thumbs/IMG_6189.jpg"
	linkURL="images/IMG_6189.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\ORM\Pictures\stagedays\web\IMG_6189.JPG">
    <title><![CDATA[IMG_6189]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_6201.jpg"
	thumbURL="thumbs/IMG_6201.jpg"
	linkURL="images/IMG_6201.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\ORM\Pictures\stagedays\web\IMG_6201.JPG">
    <title><![CDATA[IMG_6201]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_6204.jpg"
	thumbURL="thumbs/IMG_6204.jpg"
	linkURL="images/IMG_6204.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\ORM\Pictures\stagedays\web\IMG_6204.JPG">
    <title><![CDATA[IMG_6204]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_6205.jpg"
	thumbURL="thumbs/IMG_6205.jpg"
	linkURL="images/IMG_6205.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\ORM\Pictures\stagedays\web\IMG_6205.JPG">
    <title><![CDATA[IMG_6205]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_6235.jpg"
	thumbURL="thumbs/IMG_6235.jpg"
	linkURL="images/IMG_6235.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\ORM\Pictures\stagedays\web\IMG_6235.JPG">
    <title><![CDATA[IMG_6235]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_6262.jpg"
	thumbURL="thumbs/IMG_6262.jpg"
	linkURL="images/IMG_6262.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\ORM\Pictures\stagedays\web\IMG_6262.JPG">
    <title><![CDATA[IMG_6262]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_6298.jpg"
	thumbURL="thumbs/IMG_6298.jpg"
	linkURL="images/IMG_6298.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\ORM\Pictures\stagedays\web\IMG_6298.JPG">
    <title><![CDATA[IMG_6298]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_6325.jpg"
	thumbURL="thumbs/IMG_6325.jpg"
	linkURL="images/IMG_6325.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\ORM\Pictures\stagedays\web\IMG_6325.JPG">
    <title><![CDATA[IMG_6325]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_6329.jpg"
	thumbURL="thumbs/IMG_6329.jpg"
	linkURL="images/IMG_6329.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\ORM\Pictures\stagedays\web\IMG_6329.JPG">
    <title><![CDATA[IMG_6329]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_6334.jpg"
	thumbURL="thumbs/IMG_6334.jpg"
	linkURL="images/IMG_6334.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\ORM\Pictures\stagedays\web\IMG_6334.JPG">
    <title><![CDATA[IMG_6334]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_6339.jpg"
	thumbURL="thumbs/IMG_6339.jpg"
	linkURL="images/IMG_6339.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\ORM\Pictures\stagedays\web\IMG_6339.JPG">
    <title><![CDATA[IMG_6339]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_6340.jpg"
	thumbURL="thumbs/IMG_6340.jpg"
	linkURL="images/IMG_6340.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\ORM\Pictures\stagedays\web\IMG_6340.JPG">
    <title><![CDATA[IMG_6340]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_6341.jpg"
	thumbURL="thumbs/IMG_6341.jpg"
	linkURL="images/IMG_6341.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\ORM\Pictures\stagedays\web\IMG_6341.JPG">
    <title><![CDATA[IMG_6341]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_6342.jpg"
	thumbURL="thumbs/IMG_6342.jpg"
	linkURL="images/IMG_6342.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\ORM\Pictures\stagedays\web\IMG_6342.JPG">
    <title><![CDATA[IMG_6342]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_6359.jpg"
	thumbURL="thumbs/IMG_6359.jpg"
	linkURL="images/IMG_6359.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\ORM\Pictures\stagedays\web\IMG_6359.JPG">
    <title><![CDATA[IMG_6359]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_6663.jpg"
	thumbURL="thumbs/IMG_6663.jpg"
	linkURL="images/IMG_6663.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\ORM\Pictures\stagedays\web\IMG_6663.JPG">
    <title><![CDATA[IMG_6663]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_6376.jpg"
	thumbURL="thumbs/IMG_6376.jpg"
	linkURL="images/IMG_6376.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\ORM\Pictures\stagedays\web\IMG_6376.JPG">
    <title><![CDATA[IMG_6376]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_6382.jpg"
	thumbURL="thumbs/IMG_6382.jpg"
	linkURL="images/IMG_6382.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\ORM\Pictures\stagedays\web\IMG_6382.JPG">
    <title><![CDATA[IMG_6382]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_6414.jpg"
	thumbURL="thumbs/IMG_6414.jpg"
	linkURL="images/IMG_6414.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\ORM\Pictures\stagedays\web\IMG_6414.JPG">
    <title><![CDATA[IMG_6414]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_6415.jpg"
	thumbURL="thumbs/IMG_6415.jpg"
	linkURL="images/IMG_6415.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\ORM\Pictures\stagedays\web\IMG_6415.JPG">
    <title><![CDATA[IMG_6415]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_6425.jpg"
	thumbURL="thumbs/IMG_6425.jpg"
	linkURL="images/IMG_6425.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\ORM\Pictures\stagedays\web\IMG_6425.JPG">
    <title><![CDATA[IMG_6425]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_6429.jpg"
	thumbURL="thumbs/IMG_6429.jpg"
	linkURL="images/IMG_6429.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\ORM\Pictures\stagedays\web\IMG_6429.JPG">
    <title><![CDATA[IMG_6429]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_6448.jpg"
	thumbURL="thumbs/IMG_6448.jpg"
	linkURL="images/IMG_6448.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\ORM\Pictures\stagedays\web\IMG_6448.JPG">
    <title><![CDATA[IMG_6448]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_6453.jpg"
	thumbURL="thumbs/IMG_6453.jpg"
	linkURL="images/IMG_6453.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\ORM\Pictures\stagedays\web\IMG_6453.JPG">
    <title><![CDATA[IMG_6453]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_6503.jpg"
	thumbURL="thumbs/IMG_6503.jpg"
	linkURL="images/IMG_6503.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\ORM\Pictures\stagedays\web\IMG_6503.JPG">
    <title><![CDATA[IMG_6503]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_6504.jpg"
	thumbURL="thumbs/IMG_6504.jpg"
	linkURL="images/IMG_6504.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\ORM\Pictures\stagedays\web\IMG_6504.JPG">
    <title><![CDATA[IMG_6504]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_6544.jpg"
	thumbURL="thumbs/IMG_6544.jpg"
	linkURL="images/IMG_6544.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\ORM\Pictures\stagedays\web\IMG_6544.JPG">
    <title><![CDATA[IMG_6544]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_6570.jpg"
	thumbURL="thumbs/IMG_6570.jpg"
	linkURL="images/IMG_6570.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\ORM\Pictures\stagedays\web\IMG_6570.JPG">
    <title><![CDATA[IMG_6570]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_6650.jpg"
	thumbURL="thumbs/IMG_6650.jpg"
	linkURL="images/IMG_6650.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\ORM\Pictures\stagedays\web\IMG_6650.JPG">
    <title><![CDATA[IMG_6650]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_6651.jpg"
	thumbURL="thumbs/IMG_6651.jpg"
	linkURL="images/IMG_6651.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\ORM\Pictures\stagedays\web\IMG_6651.JPG">
    <title><![CDATA[IMG_6651]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_6656.jpg"
	thumbURL="thumbs/IMG_6656.jpg"
	linkURL="images/IMG_6656.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\ORM\Pictures\stagedays\web\IMG_6656.JPG">
    <title><![CDATA[IMG_6656]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>